@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --very-light-gray: hsl(0, 0%, 95%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Lexend", sans-serif;
  background: var(--very-light-gray);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}
.display-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.display-flex img {
  max-width: 64px;
  height: auto;
}
.display-flex button {
  max-width: 106.55px;
  height: 34.19px;
}
article {
  padding: 0 1rem;
  color: var(--very-light-gray);
}
article:first-child {
  padding-top: 5rem;
}

.card-col {
  padding: 3.5rem 4.5rem 3.5rem 3rem;
}
.orange {
  border-radius: 10px 10px 0 0;
  background-color: var(--bright-orange);
}
.orange button {
  color: var(--bright-orange);
}
.green {
  background-color: var(--dark-cyan);
}
.green button {
  color: var(--dark-cyan);
}
.dark-green {
  background: var(--very-dark-cyan);
}
.dark-green button {
  color: var(--very-dark-cyan);
}
p {
  color: var(--transparent-white);
  font-size: 15px;
  line-height: 24px;
}
button {
  background: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
@media (min-width: 1140px) {
  article {
    padding: 0;
  }
  article:first-child {
    padding-top: 0;
  }
  .orange {
    border-radius: 5px 0 0 5px;
  }
  .dark-green {
    border-radius: 0 5px 5px 0;
  }
  .display-flex {
    gap: 2rem;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
  }
  p {
    margin-bottom: 5rem;
  }
}
